<html>
  <header>
    <style>
      .banner{
        background: linear-gradient(90deg, rgba(246,0,0,1) 6%, rgba(237,32,5,1) 99%);
      }
    </style>
  </header>
  <body>
    <div class="banner" style="font-size:30px">
    
      <br><br>
    </div>
  </body>
</html>
